input {
    height: 40px;
    width: 400px;
    border: 2px solid rgb(12, 11, 11);
    border-radius: 10px;
    padding: 5px;
}
button {
    height: 50px;
    width: 200px;
    border: solid rgb(44, 40, 35) 2px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-image: linear-gradient(black,white);
    color: black;
    font-weight: bold;
}
table {
    border: rgb(77, 15, 51) solid 6px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 50px;
    background-color: rgb(25, 32, 73);
    opacity: 0.5;
}
.head {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: rgb(233, 25, 25);
}
button:hover {
    background-image: linear-gradient(red,black);
}